* {
  font: inherit;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: inherit;
  color-scheme: dark;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}
