:root {
  --background-color: hsl(251, 31%, 35%);
  --background-color-hover: hsl(251, 30%, 50%);
}

.card {
  position: relative;
  width: 400px;
  background-color: var(--background-color);
  box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.254);
  border-radius: 5px;
  height: 50px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: 800;
}

.card:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

.buttons {
  padding: 8px;
  position: absolute;
  right: 0;
  z-index: 1;
  display: flex;
}

.buttons button {
  margin-left: 5px;
}

.wordsCount {
  font-size: 0.7em;
  opacity: 0.5;
  padding: 5px;
}

.content {
  display: flex;
  align-items: center;
}
