.container {
  background-color: hsl(251, 31%, 25%);
  height: 100%;
  min-height: 100vh;
  padding-top: 60px;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.content {
  z-index: 50;
}
